body {
    font-family: 'Lato';
}

.header {
    background-color: #2d303a;
    display: flex;
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
    padding: 31px 40px 33px 40px ;
    box-sizing: border-box;
    border-bottom: 6px solid #323746;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navigation {
    width: 375px;
    max-width: 100%;
}

.navigation__list {
    display: flex;
    margin-left: 4px;
    padding-top: 10px;
}


.navigation__item {
    list-style-type: disc;
    color: #3c404f;
    font-weight: 700;
}

.navigation__item:hover {
    list-style-type: none;
}

.navigation__link:hover {
    color: #f06c64;
}

.navigation__link {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

.navigation__item:nth-child(n+2) {
    margin-left: 29px;
}

.slider {
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
    padding: 53px 40px 58px 40px;
    box-sizing: border-box;
    border-bottom: 6px solid #ea676b;
    background-color: #f06c64;
    position: relative;
}

.slider__pictures:hover:before {
    color: #ca4549;
}

.slider__picture_vertical {
    margin-left: 72px;
}

.slider__picture_horizontal {
    margin-left: 71px;
}

.chevron-left {
    fill: #ca4549;
    position: absolute;
    top: 283px;
    left: 36px;
}

.chevron-right {
    fill: #ca4549;
    position: absolute;
    top: 283px;
    right: 34px;
}


.chevron-left:hover,
.chevron-right:hover {
    fill: red;
}

.services {
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
    padding: 63px 40px 58px 40px;
    box-sizing: border-box;
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    position: relative;
}

.services__title {
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
}

.services__text {
    margin-top: 22px;
    font-weight: 300;
    font-size: 18px;
    color: #767e9e;
    line-height: 1.6;
}

.services__list {
    margin-top: 49px;
    display: flex;
    flex-wrap: wrap;
}

.service__item {
    display: flex;
    width: 310px;
}

.service__item-explanation {
    margin-left: 19px;
}

.service__title {
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
}

.service__definition {
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
    color: #767e9e;
    line-height: 1.7;
}

.pencil::before {
    content: '';
    display: block;
    background: url(./assets/pencil.png) no-repeat;
    width: 100%;
    max-width: 59px;
    height: 59px;
    margin-left: 2px;
}

.light::before {
    content: '';
    display: block;
    background: url(./assets/light.png) no-repeat;
    width: 100%;
    max-width: 59px;
    height: 59px;
    margin-left: 11px;
}

.heart::before {
    content: '';
    display: block;
    background: url(./assets/heart.png) no-repeat;
    width: 100%;
    max-width: 59px;
    height: 59px;
    margin-left: 21px;
}

.pad,
.sense,
.star {
    padding-top: 33px;
}

.pad::before {
    content: '';
    display: block;
    background: url(./assets/pad.png) no-repeat;
    width: 100%;
    max-width: 59px;
    height: 59px;
    margin-top: 2px;
    margin-left: 1px;
}

.sense::before {
    content: '';
    display: block;
    background: url(./assets/sense.png) no-repeat;
    width: 100%;
    max-width: 59px;
    height: 59px;
    margin-left: 11px;
    margin-top: 2px;
}

.star::before {
    content: '';
    display: block;
    background: url(./assets/star.png) no-repeat;
    width: 100%;
    max-width: 59px;
    height: 59px;
    margin-left: 21px;
    margin-top: 1px;
}